<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title> Update Form</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel="stylesheet" href="../css/succ.css">

</head>

<body>
   <!-- partial:index.partial.html -->
   <div class="container">
      <div class="text">
         Admin Panel
      </div>
      <br>
      <br><hr><br>
      
      <div class="first">
         <div><a href="/find">Find</a></div>
         <div><a href="/phoneupdate">Phone</a></div>
         <div><a href="/ageupdate">Age</a></div>
         <div><a href="/passupdate">Password</a></div>
         <div><a href="/nameupdate">Name</a></div>
         <div><a href="/delete">Delete</a></div>
         <div><a href="/logout">Logout</a></div>
      </div>
      <br>
      <hr>
      <br>
   </div>
</body>

</html>