{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body> --}}
    {{!-- {{>navbar}} --}}
    {{!-- <div class="header">
        <h2>Update Form</h2>
    </div>
    <div class="form">
        <form action="/ageupdate" method="post">
            <input type="email" id="gmail" name="gmail" value="" placeholder="Email" >
            <br>
            <br>
            <input type="number" id="age" name="age" value="" placeholder="age" >
            <br>
            <br>
            <button type="submit" id="submit" value="register">Save</button> 
            <br>
            <br>
            <a href="http://localhost:4000/login">login</a>
        </form>
    </div>
</body>
</html> --}}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Update  Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="../css/ageupdate.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
      <div class="text">
         Update Form
      </div>
      <form action="/ageupdate" method="post">
         <div class="form-row">
            <div class="input-data">
               <input type="text" id="gmail" name="gmail" value="" required>
               <div class="underline"></div>
               <label for="">Email</label>
            </div>
         </div>
         <div class="form-row">
            <div class="input-data">
               <input type="text" id="age" name="age" value="" required>
               <div class="underline"></div>
               <label for="">Age</label>
            </div>
            <!-- <div class="input-data">
               <input type="text" required>
               <div class="underline"></div>
               <label for="">Website Name</label>
            </div> -->
         </div>
         <!-- <div class="form-row">
         <div class="input-data textarea">
            <textarea rows="8" cols="80" required></textarea>
            <br />
            <div class="underline"></div>
            <label for="">Write your message</label>
            <br /> -->
            <div class="form-row submit-btn">
               <div class="input-data">
                  <div class="inner"></div>
                  <input type="submit" id="submit" value="Save">
               </div>
            </div>
      </form>
      </div>
<!-- partial -->
  
</body>
</html>
