<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website Design</title>
    <link rel="stylesheet" href="../css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/7cb05e8337.js" ></script>
    <style>
        .msg {
            display: inline-flex;
            margin-left: 10%;
            weight: 50px;
            width: 50%;
        }
        .identify img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid rgb(182, 148, 148);
        }
        .name {
            margin-left: 10px;
            font-weight: 500;
        }
        .description {
            border: 1px solid black;
            padding: 5px;
            border-radius: 10px;
            height: auto;
            width: auto;
            max-width: 60vw;
            margin-left: 15% ;
            margin-top: -20px;
        }
        .name span{
            color: red;
            font-weight: 600;
        }
        .name a{
            text-decoration: none;
        }
        .name a:hover{
            color: rgb(214, 52, 52);
        }
    </style>
</head>
<body>
    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="image/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>

                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/login">Update </a></li>
                    <li><a href="/course">COURSE</a></li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/contact">CONTACT </a></li>
                    <li><a href="/">REGISTER </a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>
        <h1 style="font-size: 50px;">Contact Us</h1>
        

    </section>
    <!---contact us -->
    <section class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3528.944527894803!2d76.6560089835783!3d30.516569065146978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fc32344a6e2d7%3A0x81b346dee91799ca!2sChitkara%20University!5e0!3m2!1sen!2sin!4v1693336506109!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </section>

    <section class="contact-us">
        <div class="row">
            <div class="contact-col">
                <div>
                    <i class="fa fa-home"></i>
                    <span>
                        <h5>Chitkara University,Near Neelam Hospital</h5>
                        <p>Rajpura,Punjab</p>
                    </span>

                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    <span>
                        <h5>+91-9720204863</h5>
                        <p>Monday to Saturday , 10:00 AM to 6:00 PM</p>
                    </span>

                </div>

                <div>
                    <i class="fa fa-envelope-o"></i>
                    <span>
                        <h5>chitkara@University.com</h5>
                        <p>Email us your query</p>
                    </span>

                </div>
            </div>
            <div class="contact-col">
                <form action="/sendMessage" method="post">
                    <input type="text" id="name" name="name" value="" placeholder="Enter your name" required>
                    <input type="email" id="gmail" name="gmail" value="" placeholder="Enter your email address" required>
                    <input type="text" id="subject" name="subject" value="" placeholder="Enter your subject" required>
                    <textarea  rows="8" id="description" name="description" value="" placeholder="Message" required></textarea>
                    <button type="submit" id="submit" value="msg" class="hero-btn red-btn">Send Message</button>
                </form>
            </div>

        </div>

    </section>

    {{!-- This is msg section --}}


    <section class="msgbox">
        {{#each messages}}
        <div class="msg">
            <div class="identify">
                <img src="image/photo.png"> 
            </div>
            <div class="name">
                {{this.name}} &nbsp; &nbsp; &nbsp; &nbsp;<span>(CSE)</span>
                <br>
                <a href="mailto:{{this.email}}">
                    {{!-- pranjal@gmail.com --}}
                    {{this.email}}
                </a>
            </div>
        </div>
        <br><br>
        <div class="description">
                {{!-- Teri maa ki kahani likhu idhar mein..rgfduhjbe uehjgfdc uygerjd --}}
                {{this.description}}
        </div>
        <br><br>
        {{/each}}
    </section>
    

    


<!--Footer-->
<section class="footer">
    <h1>About Us</h1>
    <p>Our logo depicts the arrows in soaring heights, promising everlasting progress. It also illustrates the interlinking of our key<br> stakeholders namely Students, Parents, Faculty, Alumni, Industry and Society as a whole,<br> working in synergy towards a common goal which is the “Everlasting Success of Each Chitkara Student and creating them as responsible citizens”.<br> The colour Red denotes Energy & Passion to “Explore Our Potential”.</p>
    <div class="icons">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>

    </div>
    <p>Made with <i class="fa-solid fa-heart"></i></p>


</section>


    <!------JavaScript for toggle menu------>
    <Script>
        var navLinks=document.getElementById("navLinks");

        function showMenu(){
            navLinks.style.right="0";

        }
        function hideMenu(){
            navLinks.style.right="-200px";
        }


    </Script>
    
</body>
</html>