<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website Design</title>
    <link rel="stylesheet" href="../css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css">
    <script src="https://kit.fontawesome.com/7cb05e8337.js" ></script>
</head>
<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="image/logo.png" ></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/update">UPDATE</a></li>
                    <li><a href="/course">COURSE</a></li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/contact">CONTACT </a></li>
                    <li><a href="/">REGISTER </a></li>
                </ul>
             </div>
             <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>
        <div class="text-box">
            <h1>Chitkara University</h1>
            <h2>World's Biggest University</h2>
            <p>Located 30 kms from Chandigarh, Chitkara University offers a world of learning that will help you reach your goals. Choose from our varied industry endorsed programs. Learn from an outstanding faculty at our state-of-the-art teaching facilities. Explore unlimited opportunities to get placed with one of the 1500+ campus recruiters and meet other students with dreams as big as yours.</p>
            <a href="" class="hero-btn">Visit Us To Know More</a>

        </div>

    </section>


    <!--course-->
    <section class="course">
        <h1>Courses We Offer</h1>
        <p>At Chitkara University, there is an intensive focus on getting each and every student industry ready. With more than 1500 recruiters visiting our campus every year, our graduates have the support, resources and facilities they need in a constantly changing world and job market.</p>

        <div class="row">
            <div class=" course-col">
                <h3>Intermediate</h3>
                <p>We have an intense focus on making each and every graduate industry ready and in order to make sure that our students have access to latest technology, we have collaborated with major industries across sectors so our curriculum and innovation labs are in sync with latest industry trends.</p>
            </div>

            <div class=" course-col">
                <h3>Degree</h3>
                <p>Research isn’t just an idea, it’s a way of life at CURIN, which supports diverse programs, projects and centres with over 50 Cr in annual research funding. We offer state-of-the-art facilities, collaborative work environments and unparalleled experience solving real-world problems.</p>
            </div>

            <div class=" course-col">
                <h3>Post Graduation</h3>
                <p>Our world needs more entrepreneurs and startups. That’s why Chitkara Innovation Incubator connects students with resources from design and prototyping to marketing and funding which in turn, transforms startup ideas into actions that make an impact.</p>
            </div>
        </div>
    </section>

    <!--campus-->

    <section class="campus">
        <h1>Centre for Global Education</h1>
        <p>We have launched full-time pathway degree programs in Academic Mentorship with some leading colleges and universities of the world so that our students get access to globally relevant curriculum, and exposure to accomplished international faculty.</p>

        <div class="row">
            <div class="campus-col">
                <img src="image/london.png">
                <div class="layer">
                    <h3>LONDON</h3>
                </div>
            </div>


            <div class="campus-col">
                <img src="image/newyork.png">
                <div class="layer">
                    <h3>NEW YORK</h3>
                </div>

                
            </div>

            <div class="campus-col">
                <img src="../image/washington.png">
                <div class="layer">
                    <h3>WASHINGTON</h3>
                </div>

                
            </div>
        </div>
    </section>

    <!--facilities-->

    <section class="facilities">
        <h1>Our Facilities</h1>
        <p>Our logo depicts the arrows in soaring heights, promising everlasting progress. It also illustrates the interlinking of our key stakeholders namely Students, Parents, Faculty, Alumni, Industry and Society as a whole, working in synergy towards a common goal which is the “Everlasting Success of Each Chitkara Student and creating them as responsible citizens”. The colour Red denotes Energy & Passion to “Explore Our Potential”.</p>


        <div class="row">
            <div class="facilities-col">
               <img src="image/library.png">
               <h3>World Class Library</h3>
               <p>The University Libraries offer a wide range of materials in a variety of formats—from traditional books and serials to films, and multimedia and networked information from around the world. Highly skilled staff assists students to use the local collections and find information on specific topics. Our libraries are a learning space where students are inspired to explore research and create. Our libraries are not only the places to think but also an informal work area where students gather to collaborate.</p>

            </div>


            <div class="facilities-col">
                <img src="image/basketball.png">
                <h3>Largest Playground</h3>
                <p>playgrounds offer a multitude of benefits that go far beyond aesthetics and giving kids something fun to do. They are the heart of a community and an indispensable gathering space that can benefit everyone. Community playgrounds provide children the opportunity to practice and hone key skills including social, emotional, cognitive and physical. Children are constantly learning through play—making new friends, sharing, taking turns and interacting with other children. This increased interaction with children of all backgrounds and abilities gives kids a more open view of the world and the opportunity to build new relationships.</p>
                
            </div>

            <div class="facilities-col">
                <img src="image/cafeteria.png">
                <h3>Tasty and Healthy Food</h3>
                <p>Our kitchens feature the industry’s best equipment. Each space is designed to ensure the best possible learning experience. You will work with large smokers and your station will be equipped with every tool you need for cooking. These production style kitchens will teach you how to produce enough food for 300-400 people, a skill that will be valuable in your future career.</p>
            </div>
        </div>

    </section>

    <!---testimonials-->
    <section class="testimonials">
        
            <h1>What Our Student Says</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam esse quae, suscipit reprehenderit assumenda autem unde quasi dolorum mollitia recusandae perferendis odit blanditiis non aut illo sequi, rerum est. Autem.</p>

            <div class="row">
                <div class="testimonial-col">
                    <img src="../image/user1.png">
                    <div>
                        <p><ol>
                            <li> International Collaborations </li>
                            <li> Helps the students with start ups </li>
                            <li> Adopted villages to make the students aware about their social responsibilities</li>
                        </ol></p>
                        <h3>Arushi</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-o"></i>
                    </div>
                 </div>



                 <div class="testimonial-col">
                    <img src="../image/user2.png">
                    <div>
                        <p>Chitkara University, a private university, which is located in Rajpura, Punjab (30 km away from Chandigarh) is one of the top most universities in india. It is recognised by the University grants commission. The university rankers between 401 to 600 band out of 768 University's internationally.</p>
                        <h3>Micheili</h3>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                 </div>
                         
            </div>
        


    </section>


<!--call to action-->
<section class="cta">
    <h1>Enroll For Our Various Online Courses<br> Anywhere From The World.</h1>
    <a href="" class="hero-btn">CONTACT US</a>

</section>


<!--Footer-->
<section class="footer">
    <h1>About Us</h1>
    <p>Our logo depicts the arrows in soaring heights, promising everlasting progress. It also illustrates the interlinking of our key<br> stakeholders namely Students, Parents, Faculty, Alumni, Industry and Society as a whole,<br> working in synergy towards a common goal which is the “Everlasting Success of Each Chitkara Student and creating them as responsible citizens”.<br> The colour Red denotes Energy & Passion to “Explore Our Potential”.</p>
    <br>
    <div class="icons">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>

    </div>
    <p>Made with <i class="fa-solid fa-heart"></i></p>


</section>





    <!------JavaScript for toggle menu------>
    <Script>
        var navLinks=document.getElementById("navLinks");

        function showMenu(){
            navLinks.style.right="0";

        }
        function hideMenu(){
            navLinks.style.right="-200px";
        }


    </Script>
    
</body>
</html>