<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Update Form</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel="stylesheet" href="../css/succ.css">

</head>
<body>
   <!-- partial:index.partial.html -->
   <div class="container">
      <div class="text">
         {{what}} 
      </div>
      <br>
      <br><hr><br>
      
      <div class="first">
         <div><a href="/home">Home</a></div>
         <div><a href="/">Register</a></div>
         <div><a href="/login">Login</a></div>
      </div>
      <br>
      <hr>
      <br>
   </div>
</body>
</html>