    <section class="sub-header">
        <nav>
            <a href="index.html"><img src="image/logo.png" ></a>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>

                <ul>
                    <li><a href="/home">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/login">Update </a></li>
                    <li><a href="/course">COURSE</a></li>
                    <li><a href="/blog">BLOG</a></li>
                    <li><a href="/contact">CONTACT </a></li>
                    <li><a href="/">REGISTER </a></li>
                </ul>
             </div>
             <i class="fa fa-bars" onclick="showMenu()"></i>

        </nav>